.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
  overflow: hidden;
}

.food-item-image {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.food-item:hover .food-item-image {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.food-item-info {
  padding: 20px;
}

.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.food-item-name-rating p {
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food-item:hover .food-item-name-rating p {
  text-overflow: clip;
  display: inline-block;
  animation: scroll-name 8s linear infinite;
}

.food-item-name-rating img {
  margin-bottom: 10px;
  margin-left: 20px;
  width: 70px;
}
.food-item-desc {
  color: #676767;
  font-size: 12px;
}

.food-item-img-container {
  position: relative;
}
.food-item-img-container .search-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.54);
  padding: 8px 12px;
  border-radius: 15px;
  display: none;
  transition: opacity 0.3s ease;
}

.food-item:hover .search-icon {
  display: block;
}
.food-item-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food-item-footer .food-item-price {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 12px 0px;
  padding: 0px 10px 0px 10px;
  background-color: #d27d2d;
  border-radius: 8px;
}

.food-item-img-container .add {
  width: 45px;
  position: absolute;
  bottom: 8px;
  right: 6px;
  cursor: pointer;
  border-radius: 50%;
}

.food-item-counter {
  position: absolute;
  bottom: 9px;
  right: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: #ff6a74;
}

.food-item-counter img {
  width: 25px;
}

.add-to-cart button {
  position: relative;
  left: 10px;
  background: #ed1c24;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}

.add-to-cart button:hover {
  transform: scale(1.05);
}
