.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
}
.food-item-image {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.food-item-info {
  padding: 20px;
}
.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.food-item-name-rating p {
  font-size: 20px;
  font-weight: 500;
}
.food-item-name-rating img {
  width: 70px;
}
.food-item-desc {
  color: #676767;
  font-size: 12px;
}

.food-item-img-container {
  position: relative;
}
.food-item-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food-item-footer .food-item-price {
  color: #ed1c24;
  font-size: 20px;
  font-weight: 500;
  margin: 12px 0px;
  
}

.food-item-footer .add {
  width: 45px;
  position: absolute;
  cursor: pointer;
  right: -10px;
  border-radius: 50%;
  border: 2px solid #ff6a74;
}

.food-item-counter {
  position: absolute;
  right: 85px;
  top: 11px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 3px;
  border-radius: 50px;
  background-color: #ff6a74;
}

.food-item-counter img {
  width: 23px;
}

.food-item-checkout .buy-button {
  background: #ed1c24;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.food-item-checkout .buy-button:hover{
    transform: scale(1.05);
}
