.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 160px;
  height: 100px;
}

.navbar-menu {
  display: flex;
  font-weight: 450;
  list-style: none;
  gap: 30px;
  color: #000;
  font-size: 18px;
  cursor: pointer;
}
.navbar li {
  position: relative;
  transition: color 0.3s;
}

.navbar li:hover {
  color: #ed1c24;
}
.navbar li.active {
  color: #ed1c24;
}

.navbar li.active::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #ed1c24;
  border-radius: 15px;
  animation: underline 0.5s ease forwards;
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar-right img {
  width: 30px;
  height: 30px;
}

.navbar button {
  background: #ed1c24;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  border-color: #4d2d18;
  color: white;
}

.navbar-search-icon {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
  border-radius: 8px;
  gap: 10px;

  position: relative;
}
.navbar-search-icon img {
  width: 32px;
  height: 32x;
  margin-right: 10px;
  position: relative;
}
.dot {
  position: absolute;
  top: 0px;
  left: 35px;
  width: 10px;
  height: 10px;
  background-color: #ed1c24;
  border-radius: 50%;
}

.cart-count-price {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
