.shop_section {
  padding: 100px 0 0;
  background: var(--yellow);
}
.shop_section h4 {
  font-size: 2.375rem;
  font-weight: 400;
  color: var(--bg-coffee);
}
.shop_section h2 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  color: var(--bg-coffee);
}
.shop_section p {
  font-size: 1.125rem;
  padding-right: 10%;
  color: var(--bg-coffee);
  margin-bottom: 40px;
}
.shop_section .store {
  max-width: 40%;
}
.shop_section .e_shop {
  text-align: center;
}

