.profile-menu {
    backdrop-filter: blur(5px);
    margin-top: 100px;
    padding-top: 3rem;
    width: 18vw;
    position: sticky;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    overflow: auto;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
.profile-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.40);
}

.profile-menu-list {
    margin-top: 10px;
    padding-left: 0;
}

.profile-menu-list ul {
    list-style-type: none;
    padding: 0;
}

.profile-menu-list ul li {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(5px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all 0.3s ease;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.profile-menu-list ul li .profile-item.active {
    border-color: #ed1c24;
    color: #ed1c24;
}

.profile-menu-list ul li::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 0%;
    width: 5px;
    background-color: #ed1c24;
    z-index: 2;
    transition: all 200ms linear;
    border-radius: 5px 0 0 5px;
}

.profile-menu-list ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    flex-grow: 1;
}

.profile-menu-list ul li a:hover {
    color: #ed1c24;
}

.profile-menu-list ul li:hover::before {
    height: 100%;
}

.profile-menu-list ul li .profile-icon {
    color: #ed1c24;
    font-size: 20px;
    margin-right: 1rem;
}
