.profile-menu{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 94vh;
    margin-left: 50px;
}

.profile-menu-list{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-menu-list .profile-item{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: black;
}

.profile-menu-list .profile-item:hover{
    background:#d20a2e;
    color: white;
}

.profile-menu-list .profile-item.active {
    background: #d20a2e;
    color: white;
  }
  