@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  width: 100%;
  margin: auto;
}
@keyframes fadeUp {
  from {
    transform: translateY(150px);
    filter: blur(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1;
  }
}

@keyframes moveUp {
  from {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8); /* Slightly smaller */
    opacity: 0; /* Invisible */
  }
  to {
    transform: scale(1); /* Original size */
    opacity: 1; /* Fully visible */
  }
}
@keyframes rotatePizza {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideRight {
  from {
    left: -70%;  
  }
  to {
    left: 0;
  }
}

@keyframes scroll-name {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Root Variables */
:root {
  /* Fonts Family */
  --roboto-font: "Roboto", sans-serif;
  --lilita-font: "Lilita One", cursive;
  --oswald-font: "Oswald", sans-serif;

  /* Colors */
  --light-black: #333;
  --light-white: #f7f7f7;
  --light-red: #e3000e;
  --light-grey: #f6f9fa;
  --light-grey-2: #dddddd;
  --white: #fff;
  --yellow: #f7be27;
  --grey: #757575;
  --brown: #6f5e4d;
  --bg-coffee: #642f21;
}


body,
html {
  font-size: 1rem;
  font-family: var(--roboto-font);
  font-weight: 300;
}

@media (max-width: 992px) {
  body,
  html {
    font-size: 0.875rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--oswald-font);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.3;
}

a {
  text-decoration: none;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--yellow);
}