.contact_section {
  background: url("../../assets/banner-1.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}
.contact_section h4 {
  font-size: 2.375rem;
  font-weight: 400;
  margin-bottom: 25px;
}
.contact_section h2 {
  font-size: 4.5rem;
  margin-bottom: 25px;
}
.contact_section p {
  width: 70%;
  margin: 0 auto 30px;
}
.contact_section a {
  font-size: 22px;
  font-weight: 700;
}
.contact_section .call-now{
    color: white;
  text-decoration: none;
  background: var(--light-red);
  border-color: var(--light-red);
  border-radius: 10px;
  padding: 15px 38px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: var(--oswald-font);
  vertical-align: middle;
  text-transform: uppercase;
  transition: 0.2s ease-in-out 0s;
  margin-top: 20px;
}